@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* google font api installed */




@layer base {
    body{
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;

    }
}

.work-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    
}
.work-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(194, 189, 184, 0.8),
       hsla(36, 6%, 75%, 1)

    ) !important;
}
